<%-include("header")-%>
    <body>
       <div class="box">
        <h1 class="head animate__animated animate__backInDown">  
            Today
            <!-- <%= tday %>   |  <%= time %>    -->
        </h1>   
     
     </div>
     <div class="inner-box">
        <form method="POST" action="/delete">
           <div class="ulist animate__animated animate_backInLeft">
               <% foodname.forEach(function(item){%>
              
                <div class="subitems">
            <input type="checkbox" name="wname" value="<%=item.id%>" onchange="this.form.submit()">
                    <%= item.name%> </div> 

                <% });%>
               <!-- <% for(var i=0; i<foodname.length; i++) { %>

               <li><%= foodname[i].name%></li>

              <% }%> -->
               </div>
               </form>
      
            <form  class="items"method="POST" action="/">
             <input  type="text" name="wname" autocomplete="off" required>
             <button  class="btn" type="submit" name="button" value="<%=tday%>">+</button>
            </form>

        </div> 
         <%- include("footer")-%>
            
    </body>
</html>